.historical-dates {
  @mixin arrow-control-left {
    border-radius: 50%;

    background-image: url('@/assets/svg/desktop/arrow.svg');
    background-repeat: no-repeat;
    background-position: 50%;

    cursor: pointer;
  }
  @mixin arrow-control-right {
    @include arrow-control-left;

    transform: rotate(180deg);
  }
  @mixin swiper-arrow-control {
    position: absolute;
    top: 50%;
    z-index: 1;

    width: 40px;
    height: 40px;
    border: none;

    background-color: $white;
    background-image: url('@/assets/svg/desktop/blue-arrow.svg');
    box-shadow: 0 0 15px 0 $shadow;

    &:disabled {
      opacity: 0;
      cursor: auto;
    }
  }

  @import 'title';
  @import 'time-intervals';
  @import 'arrow-controls';
  @import 'slider';

  @include pt-sans-regular-font;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  max-width: 1280px;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  border-right: 1px solid rgba($dark-blue-1, .1);
  border-left: 1px solid rgba($dark-blue-1, .1);

  color: $dark-blue-1;
  background-color: $gray;

  &::before {
    content: '';
    position: absolute;

    width: 100%;
    max-width: inherit;
    height: 2px;

    background-color: rgba($dark-blue-1, .1);
  }

  &::after {
    content: '';
    position: absolute;

    width: 2px;
    height: 100%;

    background-color: rgba($dark-blue-1, .1);
  }

  $ancestorSelector: &;

  &__footer {
    position: absolute;
    bottom: 5%;
    left: 80px;
    display: flex;
    flex-direction: column;

    #{$ancestorSelector}__pagination-fraction {
      margin-bottom: 20px;
    }

    & .arrow-controls {
      margin-bottom: 56px;
    }
  }
}
