.swiper {
  position: relative;

  &__wrapper {
    position: relative;

    width: 1200px;

    cursor: grab;
  }

  &__pagination.swiper-pagination-bullets {
    position: absolute;
    bottom: -20px;
    left: 50%;
    display: none;

    width: auto;

    transform: translateX(50%);

    & .swiper-pagination-bullet:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__button-prev {
    @include arrow-control-left;
    @include swiper-arrow-control;
  }

  &__button-prev {
    left: 0;

    transform: translateX(calc(-100% - 20px)) translateY(-50%) rotate(180deg);
  }

  &__button-next {
    @include arrow-control-right;
    @include swiper-arrow-control;
  }

  &__button-next {
    right: -60px;

    transform: translateX(calc(-100% - 40px)) translateY(-50%);
  }

  &-slide {
    display: flex;
    flex-direction: column;
    justify-content: start;

    max-width: 320px;

    font-size: 20px;
    &:not(:last-child) {
      margin-right: 80px;
    }

    &__title {
      margin-bottom: 15px;

      font-size: 25px;

      color: $blue;
    }

    &__description {
      word-wrap: break-word;
    }
  }

  &-pagination-bullet {
    width: 6px;
    height: 6px;

    background-color: rgba($dark-blue-1, .4);

    opacity: 1;
  }

  &-pagination-bullet-active {
    background-color: $dark-blue-1;
  }
}
