@media (max-width: 768px) {
  .historical-dates {
    display: flex;
    flex-direction: column;
    align-items: start;

    max-width: 320px;
    padding-left: 20px;
    border: none;

    &::before,
    &::after {
      display: none;
    }

    .title {
      top: 12%;
      left: 20px;

      padding-left: 0;

      font-size: 20px;

      &::before {
        display: none;
      }
    }

    .time-intervals {
      position: initial;

      width: auto;
      height: auto;

      scale: initial;

      &::before,
      &::after,
      &__point {
        display: none;
      }

      &__years-interval {
        position: initial;

        margin-top: 56px;
        margin-left: 0;

        font-size: 56px;
        line-height: initial;
        letter-spacing: -2px;

        transform: initial;

        &::before {
          display: none;
        }
      }
    }

    &__delimiter {
      display: flex;
    }

    &__controls-wrapper {
      bottom: 3%;
      left: 20px;
    }

    &__fraction-pagination {
      margin-bottom: 5px;

      font-size: 14px;
    }

    .arrow-controls {
      &__arrow-left,
      &__arrow-right {
        width: 25px;
        height: 25px;
        margin-right: 8px;

        background-image: url('@/assets/svg/mobile/arrow.svg');
      }
    }

    .swiper {
      &__wrapper {
        position: relative;
        left: -20px;

        width: 320px;
        margin-top: 20px;
      }

      &__button-prev,
      &__button-next {
        display: none;
      }

      &-slide {
        max-width: 166px;

        &:not(:last-child) {
          margin-right: 25px;
        }

        &:first-child {
          margin-left: 20px;
        }

        &__title {
          margin-bottom: 15px;
        }
      }
    }

    &__bullets-pagination {
      display: flex;
    }
  }
}
