@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'PTSans Regular';
  font-display: swap;
  src: url('../fonts/PTSans/PTSans-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: 'PTSans Bold';
  font-display: swap;
  src: url('../fonts/PTSans/PTSans-Bold.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'BebasNeue Regular';
  font-display: swap;
  src: url('../fonts/BebasNeue/BebasNeue-Regular.ttf') format('truetype');
}

@mixin pt-sans-regular-font {
  font-weight: 400;
  font-size: 20px;
  font-family: 'PTSans Regular', sans-serif;
}

@mixin pt-sans-bold-font {
  font-weight: 700;
  font-size: 20px;
  font-family: 'PTSans Bold', sans-serif;
}

@mixin bebas-neue-regular-font {
  font-weight: 400;
  font-size: 25px;
  font-family: 'BebasNeue Regular', sans-serif;
}
